Options -Indexes
ErrorDocument 404 /Page-Not-Found.html
ErrorDocument 403 /Page-Not-Found.html
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]